In [85]:
import numpy as np
import pandas as pd
import datetime as dt
from typing import Any
import operator as op
from functions.utils import *
from functions.single_dataset.condition import *

In [100]:
data = {'column' : 2021-3-2}

In [101]:
condition(data,'column', '<=', 2021-4-3)

False

In [113]:
df = pd.read_csv('untitled.txt', sep = '\t')

In [114]:
df

,Check_Number,Dt1,Dt2,Check_Description,Query_Text,Visits/Frequency,Check_Name
0,75,2021-02-03,2021-03-1,Discharge date should be on or before date of ...,"Discharge date, [date], is after date of death...",SAE,V_SAE_DIDT_DTHDT_CMP
1,188,2021-06-03,2021-04-1,Date should be on or before the date of death.,[GRPID] Date is after date of death. Please c...,TLS,V_CM_TLSDT_DTHDT_CMP

In [115]:
condition(df, 'Dt1', '<=', 'Dt2')

0    True
1    True
Name: Dt1, dtype: bool